body {
  /* padding-top: 60px; */
  background-color :#b9c9dc !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  color: #fbfdff; 
  font-family: Arial, sans-serif; 
  font-size: 50px;
  font-weight: bold; 
  background-color: #120836;
  height: 100px;
  display: flex;
  align-items: center;
  font-family: calibri; 
  z-index: 999;
}


.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-item a:hover {
  background-color: #555;
}

li{
  list-style: none; display: inline-block;
}

li a{
  color: white; 
  font-size: 18px; 
  font-weight: bold; 
  margin-right: 25px;
}


.nav-logo{
  color:white;
  font-size: 50px; 
  font-weight: bold; 
  margin-right: auto;
  margin-left: 10px;
  
}

.custom-card {
  background-color: #94b0cc;
  border-color: #ffffff;
  margin-left: 50%;
  width: 100%;
}

.custom-card .card-title {
  color: #225c97;
}

.custom-card .card-text {
  color: #15293b;
}

.topics {
  color: #15293b;
  margin-left: 10px;
  font-size: 14pt;
}

.card-teachers {
  color: #15293b;
  margin-left: 10px;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 10px;
} 

.form-group {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.filterbutton {
  margin-top: 10% !important;
  background-color: #2840bb;
  color: white;
}

.addsubjectbutton {
  background-color: #28a745;
  color: white;
  height: 30px;
}

.addsubjectbutton:hover {
  background-color: #218838;
}

.addsubjectbutton:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}


.bg-container {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Welcome Text */
.welcome-text {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
}

.login-container {
  margin-top: 20px;
}

.login-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.login-btn:hover {
  background-color: #0056b3; 
}

.register-btn {
  padding: 10px 20px;
  background-color: #22ad45;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.register-btn:hover {
  background-color: #0d6523; 
}


#login-form input, #register-form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.list-group-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 16px;
}

/* Add some spacing between each list item */
.list-group-item:not(:last-child) {
  margin-bottom: 15px;
}



